<header>
<h1>Vendredi 27 janvier</h1>

<nav>
    <a href="/"> index </a>
    <a href="/date"> date du jour</a>
    <a href="/date/7">date dans 1 semaine </a>
    <a href="/nawak">page introuvable </a>
    <a href="/games">jeux</a>
    <a href="/randomusername">username au hasard</a>
    <a href="/inscription">inscription</a>
</nav>

</header>

<p> Bonjour <%= locals.username %> </p>

<% if(locals.flash) { %>
<div class="messages">
    <% for(m of locals.flash) { %>
<p class="alert <%= m[0] %>"><%= m[1] %></p>
<% } %>
    
</div>
<%} %>