<header>

    <nav>
        <a href="/"> index</a>
        <a href="/questions">Questions</a>
    </nav>

</header>

<p> Bonjour <%= locals.username %>
</p>

<% if(locals.flash) { %>
    <div class="messages">
        <% for(m of locals.flash) { %>
            <p class="alert <%= m[0] %>">
                <%= m[1] %>
            </p>
            <% } %>

    </div>
    <%} %>