<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>

</head>

<body>

    <%- include('partials/header') %>
        <h1>Bienvenue dans le Quizz !</h1>

        <h2> choisis ton pseudo !</h2>
        <form action="/" method="POST">
            <p>
                <input type="text" name="contento" placeholder="entre ton pseudo">
            </p>
            <p>
                <button type="submit">valider</button>
            </p>

        </form>

</html>